html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
/* Generic classes */
.smallscreen {
  display: none !important;
}
.hidden {
  display: none;
}
/* Fonts */
@font-face {
  font-family: 'Pictograms';
  src: url("fonts/modernpics-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
/* Mixins: CSS3 */
/* Animations */
/* Variables */
/* Application */
html {
  font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  -webkit-text-size-adjust: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
.perspective {
  -webkit-perspective: 1600px;
  -moz-perspective: 1600px;
  -ms-perspective: 1600px;
  -o-perspective: 1600px;
  perspective: 1600px;
}
body {
  background-color: #01210b;
  background-image: -webkit-linear-gradient(-45deg, rgba(0,133,63,0), rgba(0,133,63,0.35));
  background-image: -moz-linear-gradient(-45deg, rgba(0,133,63,0), rgba(0,133,63,0.35));
  background-image: -ms-linear-gradient(135deg, rgba(0,133,63,0), rgba(0,133,63,0.35));
  background-image: -o-linear-gradient(-45deg, rgba(0,133,63,0), rgba(0,133,63,0.35));
  background-image: linear-gradient(135deg, rgba(0,133,63,0), rgba(0,133,63,0.35));
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
input,
select,
textarea,
button {
  font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
button {
  font-size: 16px;
  background: #00853f;
  color: #fff;
  border: 0;
  height: 30px;
  cursor: pointer;
  padding: 0 15px;
}
input {
  border: 0;
  height: 30px;
  font-size: 14px;
  padding-left: 5px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
}
input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 2px #00853f inset;
  -moz-box-shadow: 0 0 0 2px #00853f inset;
  -ms-box-shadow: 0 0 0 2px #00853f inset;
  -o-box-shadow: 0 0 0 2px #00853f inset;
  box-shadow: 0 0 0 2px #00853f inset;
}
input:-ms-input-placeholder {
  color: #01210b;
}
input::-webkit-input-placeholder {
  color: #00853f;
}
a {
  color: #fff;
  text-decoration: none;
}
#controls_top {
  height: 130px;
  position: relative;
  z-index: 100;
}
#controls_top li {
  float: left;
  line-height: 30px;
}
#controls_top li.sub {
  position: relative;
}
#controls_top li.sub.open ul {
  display: block;
}
#controls_top li.sub ul {
  position: absolute;
  display: none;
  top: 35px;
  border: 2px solid #000;
  background: #e0e0e0;
  min-width: 200px;
}
#controls_top li .sub-panel {
  color: #000;
  width: 350px;
  background: #e0e0e0;
  border: 2px solid #000;
  padding: 10px;
}
#controls_top li .sub-panel h3 {
  line-height: 20px;
  margin-bottom: 5px;
}
#controls_top li .sub-panel input {
  width: 100%;
}
#controls_top li .sub-panel footer {
  margin-top: 10px;
  overflow: auto;
}
#controls_top li .sub-panel footer button {
  float: right;
}
#controls_top li .sub-panel footer button:not(.default) {
  background: #666;
}
#controls_top li a {
  font-size: 25px;
  font-weight: 300;
}
#controls_top li li {
  float: none;
}
#controls_top li li a {
  font-weight: 400;
  font-size: 14px;
  display: block;
  height: 30px;
  padding: 3px 10px;
  line-height: 25px;
  color: #000;
}
#controls_top li li a:hover {
  background: #fff;
}
#controls_top .controls_first,
#controls_top .controls_middle,
#controls_top .controls_last {
  -webkit-animation: metrointop 0.35s ease-out;
  -moz-animation: metrointop 0.35s ease-out;
  -ms-animation: metrointop 0.35s ease-out;
  -o-animation: metrointop 0.35s ease-out;
  animation: metrointop 0.35s ease-out;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#controls_top .controls_first {
  position: absolute;
  left: 20px;
  top: 48px;
}
#controls_top .controls_middle {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 260px;
}
#controls_top .controls_last {
  right: 0;
  bottom: 0;
  top: 50px;
  position: absolute;
}
#controls_top .controls_last ul {
  margin-right: 20px;
}
#controls_top #search_field {
  margin-right: 20px;
}
#controls_top #search_field #search {
  width: 250px;
}
#controls_top #search_field button {
  width: 30px;
  padding: 0;
  border: 1px solid #fff;
  font-family: 'Pictograms';
  font-size: 20px;
}
#app_title {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 38px !important;
}
#app_title .logo {
  background-image: url("../images/ut_logo_128.png");
  width: 48px;
  height: 48px;
  float: left;
  margin-right: 15px;
  margin-top: -5px;
  -webkit-background-size: 48px 48px;
  -moz-background-size: 48px 48px;
  -ms-background-size: 48px 48px;
  -o-background-size: 48px 48px;
  background-size: 48px 48px;
}
#sidebar {
  position: absolute;
  top: 130px;
  left: 0;
  bottom: 30px;
  width: 240px;
}
#sidebar .content {
  -webkit-animation: metroin 0.3s ease-out;
  -moz-animation: metroin 0.3s ease-out;
  -ms-animation: metroin 0.3s ease-out;
  -o-animation: metroin 0.3s ease-out;
  animation: metroin 0.3s ease-out;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#sidebar h2 {
  font-size: 28px;
  padding: 3px 20px;
  margin-bottom: 10px;
  font-weight: 300;
  color: #ccc;
  text-transform: lowercase;
}
#sidebar ul {
  margin-bottom: 20px;
}
#sidebar li {
  padding: 2px 5px 2px 30px;
  margin-bottom: 10px;
  font-size: 17px;
}
#sidebar li a {
  font-size: 15px;
  display: block;
}
#sidebar li a .count {
  font-weight: 600;
  font-size: 16px;
}
#panels {
  display: none;
}
.main_content {
  position: absolute;
  left: 250px;
  bottom: 30px;
  top: 110px;
  right: 0;
}
.main_content .name {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 15px;
  color: #ccc;
}
.main_content .name.old {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  -o-animation: none;
  animation: none;
}
.main_content .name,
.main_content .content {
  -webkit-animation: metroin 0.3s ease-out 0.25s;
  -moz-animation: metroin 0.3s ease-out 0.25s;
  -ms-animation: metroin 0.3s ease-out 0.25s;
  -o-animation: metroin 0.3s ease-out 0.25s;
  animation: metroin 0.3s ease-out 0.25s;
  -webkit-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#torrents .torrent {
  border-right: 5px solid #39f;
  margin-right: 10px;
  margin-bottom: 5px;
  position: relative;
  overflow: hidden;
  height: 75px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.05s linear;
  -moz-transition: -moz-transform 0.05s linear;
  -ms-transition: -ms-transform 0.05s linear;
  -o-transition: -o-transform 0.05s linear;
  transition: transform 0.05s linear;
  -webkit-backface-visibility: hidden;
}
#torrents .torrent:hover {
  background-color: rgba(255,255,255,0.05);
}
#torrents .torrent::before {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  background: rgba(255,255,255,0);
}
#torrents .torrent h1 {
  font-size: 18px;
  margin-bottom: 5px;
  white-space: nowrap;
}
#torrents .torrent .byline {
  font-size: 12px;
  white-space: nowrap;
}
#torrents .torrent .byline .details {
  font-size: 12px;
  display: inline-block;
  margin-bottom: 6px;
  opacity: 0.8;
  text-indent: 3px;
}
#torrents .torrent .byline .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  text-indent: -1000px;
  position: relative;
}
#torrents .torrent .byline .icon::after {
  position: absolute;
  left: 0;
  top: -4px;
  width: 16px;
  height: 16px;
  font-family: 'Pictograms';
  content: '';
  overflow: visible;
  text-indent: 0;
  font-size: 20px;
  text-align: center;
}
#torrents .torrent .byline .icon.downloaded::after {
  content: '[';
}
#torrents .torrent .byline .icon.uploaded::after {
  content: ']';
}
#torrents .torrent .byline .icon.ratio::after {
  content: 'R';
}
#torrents .torrent .tag {
  position: absolute;
  right: 10px;
  top: 10px;
  font-weight: 300;
}
#torrents .torrent .progress {
  background-color: #39f;
  min-width: 5px;
  position: absolute;
  bottom: 0;
  top: 0;
  z-index: 1;
  color: #000;
  overflow: hidden;
  background-image: -webkit-linear-gradient(-45deg, rgba(255,255,255,0.075) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.075) 50%, rgba(255,255,255,0.075) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(-45deg, rgba(255,255,255,0.075) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.075) 50%, rgba(255,255,255,0.075) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, rgba(255,255,255,0.075) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.075) 50%, rgba(255,255,255,0.075) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  -ms-background-size: 40px 40px;
  -o-background-size: 40px 40px;
  background-size: 40px 40px;
  -webkit-animation: progress-bg-in 1.5s linear infinite;
  -moz-animation: progress-bg-in 1.5s linear infinite;
  -ms-animation: progress-bg-in 1.5s linear infinite;
  -o-animation: progress-bg-in 1.5s linear infinite;
  animation: progress-bg-in 1.5s linear infinite;
  -webkit-transition: width 0.05 linear;
  -moz-transition: width 0.05 linear;
  -ms-transition: width 0.05 linear;
  -o-transition: width 0.05 linear;
  transition: width 0.05 linear;
}
#torrents .torrent .progress .spacer {
  padding-top: 10px;
  padding-left: 10px;
  width: 100%;
}
#torrents .torrent .progress .icon::after {
  color: #000 !important;
}
#torrents .torrent.done {
  border-color: #86c440;
}
#torrents .torrent.done::after {
  border-top-color: #ddd !important;
  border-right-color: #ddd !important;
}
#torrents .torrent.done::before {
  border-color: #ddd !important;
}
#torrents .torrent.done .progress {
  background: #fff;
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  -o-animation: none;
  animation: none;
}
#torrents .torrent.paused,
#torrents .torrent.stopped {
  border-color: #999;
}
#torrents .torrent.paused .progress,
#torrents .torrent.stopped .progress {
  background: #bbb;
}
#torrents .torrent.waiting {
  border-color: #39f;
}
#torrents .torrent.waiting .progress {
  background: #ccc;
}
#torrents .torrent.seeding {
  border-color: #86c440;
}
#torrents .torrent.seeding .progress {
  background-color: #86c440;
  -webkit-animation: progress-bg-out 1.5s linear infinite;
  -moz-animation: progress-bg-out 1.5s linear infinite;
  -ms-animation: progress-bg-out 1.5s linear infinite;
  -o-animation: progress-bg-out 1.5s linear infinite;
  animation: progress-bg-out 1.5s linear infinite;
}
#torrents .torrent.selected::before {
  border: 2px solid #fff;
}
#torrents .torrent.selected::after {
  content: '';
  position: absolute;
  right: 2px;
  top: 2px;
  border-left: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-top: 15px solid #fff;
  border-right: 15px solid #fff;
  z-index: 10;
}
#torrents .torrent.selected .back::after {
  position: absolute;
  content: '%';
  font-family: 'Pictograms';
  right: 2px;
  top: 0;
  font-size: 20px;
  color: #000;
  z-index: 99;
  opacity: 0.8;
}
#torrents .torrent .back {
  padding-top: 10px;
  padding-left: 10px;
}
#status {
  position: absolute;
  font-weight: 300;
  font-size: 13px;
  background: rgba(0,0,0,0.3);
  text-align: center;
  height: 30px;
  line-height: 30px;
  bottom: 0;
  left: 0;
  right: 0;
}
#status strong {
  font-weight: 600;
}
.panel {
  position: absolute;
  right: 0;
  bottom: -90px;
  left: 0;
  height: 90px;
  border-top: 2px solid #000;
  background: #86c440;
  font-size: 12px;
  -webkit-transition: bottom 0.135s ease-out;
  -moz-transition: bottom 0.135s ease-out;
  -ms-transition: bottom 0.135s ease-out;
  -o-transition: bottom 0.135s ease-out;
  transition: bottom 0.135s ease-out;
}
.panel.open {
  bottom: 0;
}
.panel .start {
  margin-left: 30px;
  float: left;
}
.panel li {
  text-align: center;
  display: inline-block;
  height: 90px;
  margin-right: 30px;
}
.panel li a {
  font-weight: 400;
  display: block;
  -webkit-transition: all 0.05s ease-out;
  -moz-transition: all 0.05s ease-out;
  -ms-transition: all 0.05s ease-out;
  -o-transition: all 0.05s ease-out;
  transition: all 0.05s ease-out;
}
.panel li a:active {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
.panel li a:hover .icon {
  background: rgba(255,255,255,0.15);
}
.panel li a.disabled {
  opacity: 0.5;
  cursor: normal;
  pointer-events: none;
}
.panel li a.pause .icon::after {
  background: #fff;
  top: 7px;
  left: 10px;
  height: 22px;
  width: 5px;
}
.panel li a.pause .icon::before {
  background: #fff;
  position: absolute;
  content: '';
  top: 7px;
  right: 10px;
  height: 22px;
  width: 5px;
}
.panel li a.play .icon::after {
  content: '>';
  top: -3px;
  left: -1px;
}
.panel li a.remove .icon::after {
  top: -3px;
  content: 'X';
}
.panel li a.queue-up .icon::after {
  top: -4px;
  content: '-';
}
.panel li a.queue-down .icon::after {
  top: -2px;
  content: '/';
}
.panel li a.label .icon::after {
  font-size: 32px;
  content: 'J';
}
.panel li a.share .icon::after {
  font-size: 32px;
  content: 'o';
}
.panel li a.info .icon::after {
  left: -2px;
  font-size: 39px;
  content: '=';
}
.panel li .icon {
  display: inline-block;
  margin: 15px auto 5px;
  border: 2px solid #fff;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
  -webkit-background-clip: padding-box;
  width: 40px;
  height: 40px;
  position: relative;
}
.panel li .icon::after {
  position: absolute;
  height: 40px;
  width: 40px;
  line-height: 40px;
  top: -1px;
  left: -2px;
  font-family: 'Pictograms';
  content: '';
  font-size: 40px;
  text-align: center;
}
.panel .end {
  float: right;
}
@-webkit-keyframes metroin {
  0% {
    -webkit-transform: rotateY(90deg) translateX(200px);
    -moz-transform: rotateY(90deg) translateX(200px);
    -ms-transform: rotateY(90deg) translateX(200px);
    -o-transform: rotateY(90deg) translateX(200px);
    transform: rotateY(90deg) translateX(200px);
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateY(0) translateX(0);
    -moz-transform: rotateY(0) translateX(0);
    -ms-transform: rotateY(0) translateX(0);
    -o-transform: rotateY(0) translateX(0);
    transform: rotateY(0) translateX(0);
    opacity: 1;
  }
}
@-ms-keyframes metroin {
  0% {
    -webkit-transform: rotateY(90deg) translateX(200px);
    -moz-transform: rotateY(90deg) translateX(200px);
    -ms-transform: rotateY(90deg) translateX(200px);
    -o-transform: rotateY(90deg) translateX(200px);
    transform: rotateY(90deg) translateX(200px);
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateY(0) translateX(0);
    -moz-transform: rotateY(0) translateX(0);
    -ms-transform: rotateY(0) translateX(0);
    -o-transform: rotateY(0) translateX(0);
    transform: rotateY(0) translateX(0);
    opacity: 1;
  }
}
@keyframes metroin {
  0% {
    -webkit-transform: rotateY(90deg) translateX(200px);
    -moz-transform: rotateY(90deg) translateX(200px);
    -ms-transform: rotateY(90deg) translateX(200px);
    -o-transform: rotateY(90deg) translateX(200px);
    transform: rotateY(90deg) translateX(200px);
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateY(0) translateX(0);
    -moz-transform: rotateY(0) translateX(0);
    -ms-transform: rotateY(0) translateX(0);
    -o-transform: rotateY(0) translateX(0);
    transform: rotateY(0) translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes metrointop {
  0% {
    opacity: 0;
  }

  20% {
    -webkit-transform: rotateY(110deg) translateX(150px);
    -moz-transform: rotateY(110deg) translateX(150px);
    -ms-transform: rotateY(110deg) translateX(150px);
    -o-transform: rotateY(110deg) translateX(150px);
    transform: rotateY(110deg) translateX(150px);
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateY(0) translateX(0);
    -moz-transform: rotateY(0) translateX(0);
    -ms-transform: rotateY(0) translateX(0);
    -o-transform: rotateY(0) translateX(0);
    transform: rotateY(0) translateX(0);
    opacity: 1;
  }
}
@-ms-keyframes metrointop {
  0% {
    opacity: 0;
  }

  20% {
    -webkit-transform: rotateY(110deg) translateX(150px);
    -moz-transform: rotateY(110deg) translateX(150px);
    -ms-transform: rotateY(110deg) translateX(150px);
    -o-transform: rotateY(110deg) translateX(150px);
    transform: rotateY(110deg) translateX(150px);
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateY(0) translateX(0);
    -moz-transform: rotateY(0) translateX(0);
    -ms-transform: rotateY(0) translateX(0);
    -o-transform: rotateY(0) translateX(0);
    transform: rotateY(0) translateX(0);
    opacity: 1;
  }
}
@keyframes metrointop {
  0% {
    opacity: 0;
  }

  20% {
    -webkit-transform: rotateY(110deg) translateX(150px);
    -moz-transform: rotateY(110deg) translateX(150px);
    -ms-transform: rotateY(110deg) translateX(150px);
    -o-transform: rotateY(110deg) translateX(150px);
    transform: rotateY(110deg) translateX(150px);
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateY(0) translateX(0);
    -moz-transform: rotateY(0) translateX(0);
    -ms-transform: rotateY(0) translateX(0);
    -o-transform: rotateY(0) translateX(0);
    transform: rotateY(0) translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes progress-bg-in {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -40px 0;
  }
}
@-ms-keyframes progress-bg-in {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -40px 0;
  }
}
@keyframes progress-bg-in {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -40px 0;
  }
}
@-webkit-keyframes progress-bg-out {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 40px 0;
  }
}
@-ms-keyframes progress-bg-out {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 40px 0;
  }
}
@keyframes progress-bg-out {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 40px 0;
  }
}
