vendors = webkit ms official

@import 'reset'

/* Generic classes */
.smallscreen
    display none !important

.hidden
    display none

/* Fonts */
@font-face 
    font-family 'Pictograms';
    src url('fonts/modernpics-webfont.woff') format('woff');
    font-weight normal
    font-style normal

/* Mixins: CSS3 */
border-box()
    -webkit-box-sizing border-box
    -moz-box-sizing border-box
    -ms-box-sizing border-box
    -o-box-sizing border-box
    box-sizing border-box

rounded(n)
    -webkit-border-radius n
    -moz-border-radius n
    -ms-border-radius n
    -o-border-radius n
    border-radius n
    -webkit-background-clip padding-box

box_shadow()
    -webkit-box-shadow arguments
    -moz-box-shadow arguments
    -ms-box-shadow arguments
    -o-box-shadow arguments
    box-shadow arguments

bg_size()
    -webkit-background-size arguments
    -moz-background-size arguments
    -ms-background-size arguments
    -o-background-size arguments
    background-size arguments

linear_gradient(start, stop)
    background-image -webkit-gradient(linear, left top, left bottom, from(start), to(stop))
    background-image -webkit-linear-gradient(top, start, stop)
    background-image -moz-linear-gradient(top, start, stop)
    background-image -ms-linear-gradient(top, start, stop)
    background-image -o-linear-gradient(top, start, stop)
    background-image linear-gradient(to bottom, start, stop)

angled_gradient(angle, start, stop)
    background-image -webkit-linear-gradient(angle, start, stop)
    background-image -moz-linear-gradient(angle, start, stop)
    background-image -ms-linear-gradient(180 + angle, start, stop)
    background-image -o-linear-gradient(angle, start, stop)
    background-image linear-gradient(180 + angle, start, stop)

trans()
    -webkit-transition: arguments
    -moz-transition: arguments
    -ms-transition: arguments
    -o-transition: arguments
    transition: arguments

vendor_transition(property, args...)
    -webkit-transition: s('-webkit-%s', property)args
    -moz-transition: s('-moz-%s', property)args
    -ms-transition: s('-ms-%s', property) args
    -o-transition: s('-o-%s', property)args
    transition: s('%s', property) args

transform()
    -webkit-transform: arguments
    -moz-transform: arguments
    -ms-transform: arguments
    -o-transform: arguments
    transform: arguments

translate(x, y, z)
    -webkit-transform:  translate(x, y)
    -moz-transform:     translate(x, y)
    -ms-transform:      translate(x, y)
    -o-transform:       translate(x, y)
    transform:          translate(x, y)

unselectable()
    -webkit-user-select none
    -moz-user-select -moz-none
    -ms-user-select none
    -o-user-select none
    user-select none

pers()
    -webkit-perspective arguments
    -moz-perspective arguments
    -ms-perspective arguments
    -o-perspective arguments
    perspective arguments

transform_origin()
    -webkit-transform-origin arguments
    -moz-transform-origin arguments
    -ms-transform-origin arguments
    -o-transform-origin arguments
    transform-origin arguments

anim()
    -webkit-animation arguments
    -moz-animation arguments
    -ms-animation arguments
    -o-animation arguments
    animation arguments

/* Animations */
@keyframes metroin
    0%
        transform rotateY(90deg) translateX(200px)
        opacity 0
    
    100%
        transform rotateY(0) translateX(0)
        opacity 1

@keyframes metrointop
    0%
        opacity 0
    
    20%
        transform rotateY(110deg) translateX(150px)
        opacity 0
    
    100%
        transform rotateY(0) translateX(0)
        opacity 1

@keyframes progress-bg-in
    0%
        background-position 0 0
    100%
        background-position -40px 0

@keyframes progress-bg-out
    0%
        background-position 0 0
    100%
        background-position 40px 0

/* Variables */

//$color_bg = #2c0e2c
$color_bg = #01210B

$color_green = #00853F
$color_lime = #86C440
$color_purple = #639
$color_red = #900
$color_orange = #f90
$color_light_blue = #39f

$color_bt = $color_purple
$color_ut = $color_green

$sidebar_width = 250px
$sidebar_footer_height = 35px
$controls_height = 45px

// $main_fonts = 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif
$main_fonts = 'Segoe UI', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif

/* Application */
html
    font-family $main_fonts
    font-size 14px
    -webkit-text-size-adjust none

*
    border-box()

html,
body
    height 100%
    overflow hidden

.perspective
    pers(1600px)

body
    background-color $color_bg
    angled_gradient -45deg, rgba($color_green,0), rgba($color_green,0.35)
    color #fff
    unselectable()

input,
select,
textarea,
button
    font-family $main_fonts

button
    font-size 16px
    background $color_green
    color #fff
    border 0
    height 30px

input
    border 0
    height 30px
    font-size: 14px
    padding-left 5px
    rounded(0)

    &:focus
        outline none
        box_shadow 0 0 0 2px $color_green inset//lighten($color_purple, 40%)


    &:-ms-input-placeholder
        color $color_bg
    &::-webkit-input-placeholder
        color $color_green

a
    color #fff
    text-decoration none

$top_height = 130px
$side_width = 240px
$bottom_height = 30px

#controls_top
    height $top_height
    position relative
    z-index 100

    li
        float left
        line-height 30px

        &.sub
            position relative

            &.open
                ul
                    display block

            ul
                position absolute
                display none
                top 35px
                border 2px solid #000
                background #e0e0e0
                min-width 200px

        a
            font-size 25px
            font-weight 300

        li
            float none

            a
                font-weight 400
                font-size 14px
                display block
                height 30px
                padding 3px 10px
                line-height 25px
                color #000

                &:hover
                    background #fff

    .controls_first,
    .controls_middle,
    .controls_last
        anim(metrointop 0.35s ease-out)
        transform_origin(left center)

    .controls_first
        position absolute
        left 20px
        top 48px

    .controls_middle
        position absolute
        top 50px
        bottom 0
        left $side_width + 20

    .controls_last
        right 0
        bottom 0
        top 50px
        position absolute

        ul
            margin-right 20px

    #search_field
        margin-right 20px;
        #search
            width 250px

        button
            width 30px
            border 1px solid #fff
            font-family 'Pictograms'
            font-size 20px

#app_title
    font-family 'Helvetica Neue', Helvetica, Arial, sans-serif
    font-size 38px !important

    .logo
        background-image url(../images/ut_logo_128.png)
        width 48px
        height 48px
        float left
        margin-right 15px
        margin-top -5px
        bg_size(48px, 48px)

#sidebar
    position absolute
    top $top_height
    left 0
    bottom $bottom_height
    width $side_width

    .content
        anim(metroin 0.3s ease-out)
        transform_origin(left center)

    h2
        font-size 28px
        padding 3px 20px
        margin-bottom 10px
        font-weight 300
        color #ccc
        text-transform lowercase

    ul
        margin-bottom 20px

    li
        padding 2px 5px 2px 30px
        margin-bottom 10px
        font-size 17px

        a
            font-size 15px
            display block

            .count
                font-weight 600
                font-size 16px

#panels
    display none

.main_content
    position absolute
    left $sidebar_width
    bottom $bottom_height
    top $top_height - 20px
    right 0

    .name
        font-size 32px
        font-weight 300
        margin-bottom 15px
        color #ccc

        &.old
            position absolute
            left 0
            top 0
            right 0
            anim(none)

    .name,
    .content
        anim(metroin 0.3s ease-out 0.25s)
        -webkit-animation-fill-mode both
        -ms-animation-fill-mode both
        animation-fill-mode both
        transform_origin(left center)

#torrents
    .torrent
        border-right 5px solid $color_light_blue
        margin-right 10px
        margin-bottom 5px
        position relative
        overflow hidden
        height 75px
        cursor pointer
        vendor_transition(transform, 0.05s linear)
        -webkit-backface-visibility hidden

        // &:active
        //     transform(scale(0.985))

        &:hover
            background-color rgba(#fff, 0.05)

        // Using it here as a hack for IE detecting :active pseudo-class on it
        &::before
            content ''
            position absolute
            right 0
            left 0
            top 0
            bottom 0
            z-index 10
            background rgba(#fff, 0)

        h1
            font-size 18px
            margin-bottom 5px
            white-space nowrap
            // color $color_lime

        .byline
            font-size 12px
            white-space nowrap  

            .details
                font-size 12px
                display inline-block
                margin-bottom 6px
                opacity 0.8
                text-indent 3px
                // font-weight 600

            .icon
                display inline-block
                // font-family 'Pictograms'
                width 16px
                height 16px
                // overflow hidden
                text-indent -1000px
                position relative

                &::after
                    position absolute
                    left 0
                    top -4px
                    width 16px
                    height 16px
                    font-family 'Pictograms'
                    content ''
                    overflow visible
                    // color #fff
                    text-indent 0
                    font-size 20px
                    text-align center

                &.downloaded
                    &::after
                        content '['

                &.uploaded
                    &::after
                        content ']'

                &.ratio
                    &::after
                        content 'R'


        .tag
            position absolute
            right 10px
            top 10px
            font-weight 300

        .back
            // position absolute
            // bottom 0
            // top 0

        .progress
            background-color $color_light_blue
            min-width 5px
            position absolute
            bottom 0
            top 0
            z-index 1
            color #000
            overflow hidden
            background-image -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .075) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .075) 50%, rgba(255, 255, 255, .075) 75%, transparent 75%, transparent)
            background-image -ms-linear-gradient(-45deg, rgba(255, 255, 255, .075) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .075) 50%, rgba(255, 255, 255, .075) 75%, transparent 75%, transparent)
            background-image linear-gradient(-45deg, rgba(255, 255, 255, .075) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .075) 50%, rgba(255, 255, 255, .075) 75%, transparent 75%, transparent)
            bg_size(40px 40px)
            anim(progress-bg-in 1.5s linear infinite)
            trans(width 0.05 linear)

            .spacer
                padding-top 10px
                padding-left 10px
                width 100%

            .icon
                &::after
                    color #000 !important

        &.done
            border-color $color_lime

            &::after
                border-top-color #ddd !important
                border-right-color #ddd !important

            &::before
                border-color #ddd !important

            .progress
                background #fff
                anim(none)

        &.paused,
        &.stopped
            border-color #999

            .progress
                background #bbb

        &.waiting
            border-color $color_light_blue

            .progress
                background #ccc

        &.seeding
            border-color $color_lime

            .progress
                background-color $color_lime
                anim(progress-bg-out 1.5s linear infinite)

        &.selected
            &::before
                border 2px solid #fff

            &::after
                content ''
                position absolute
                right 2px
                top 2px
                border-left 15px solid transparent
                border-bottom 15px solid transparent
                border-top 15px solid #fff
                border-right 15px solid #fff
                z-index 10

            .back
                &::after
                    position absolute
                    content '%'
                    font-family 'Pictograms'
                    right 2px
                    top 0
                    font-size 20px
                    color #000
                    z-index 99
                    opacity 0.8
                    // color $color_light_blue

        .back
            padding-top 10px
            padding-left 10px

#status
    position absolute
    font-weight 300
    font-size 13px
    background rgba(#000, 0.3)
    text-align center
    height $bottom_height
    line-height $bottom_height
    bottom 0
    left 0
    right 0

    strong
        font-weight 600

.panel
    position absolute
    right 0
    bottom -90px
    left 0
    height 90px
    border-top 2px solid #000
    background $color_lime
    font-size 12px
    trans(bottom 0.135s ease-out)

    &.open
        bottom 0

    .start
        margin-left 30px
        float left

    li
        text-align center
        display inline-block
        height 90px
        margin-right 30px

        a
            font-weight 400
            display block
            trans(all 0.05s ease-out)

            &:active
                transform(scale(0.9))

            &:hover
                .icon
                    background rgba(#fff, 0.15)

            &.disabled
                opacity 0.5
                cursor normal
                pointer-events none

            &.pause
                .icon::after
                    background #fff
                    top 7px
                    left 10px
                    height 22px
                    width 5px
                .icon::before
                    background #fff
                    position absolute
                    content ''
                    top 7px
                    right 10px
                    height 22px
                    width 5px

            &.play
                .icon::after
                    content '>'
                    top -3px
                    left -1px

            &.remove
                .icon::after
                    top -3px
                    content 'X'

            &.queue-up
                .icon::after
                    top -4px
                    content '-'

            &.queue-down
                .icon::after
                    top -2px
                    content '/'

            &.label
                .icon::after
                    font-size 32px
                    content 'J'

            &.share
                .icon::after
                    font-size 32px
                    content 'o'

            &.info
                .icon::after
                    left -2px
                    font-size 39px
                    content '='

        .icon
            display inline-block
            margin 15px auto 5px
            border 2px solid #fff
            rounded(40px)
            width 40px
            height 40px
            position relative

            &::after
                position absolute
                height 40px
                width 40px
                line-height 40px
                top -1px
                left -2px
                font-family 'Pictograms'
                content ''
                font-size 40px
                text-align center



    .end
        float right